* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add padding to the body */
body {
  padding: 20px; /* Adjust this value as needed */
}

h2, h3 {
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
}
p {
  color: white;
 }


button, .back-button, .btn-view, .btn-danger {
  background-color: #1A407A;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
  margin-bottom: 5px;
}


.btn-danger:hover {
  color: white;
  background-color: #c82333;
}

/* Hover styles */
.back-button:hover, .btn-view:hover, button:hover {
  color: #E6E6FA;
  background-color: #4B0082;
}

/* Delete selected button styles */
.delete-selected {
  padding: 3px 10px;
}

/* Add view button styles */
.add-view {
  display: inline-block;
  background-color: #28a745;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 20px;
}

.add-view:hover {
  background-color: #218838;
}

/* Label styles */
label {
  color: #1A407A; /* Champions League Blue */
  font-weight: bold;
}




