h1, h2, h3 {
  color: #007bff;
  font-weight: bold;
  letter-spacing: normal;
  text-transform: none;
  margin-bottom: 15px;
  margin-top: 10px;
}

.form-label {
  font-weight: bold;
}

button, .back-button, .btn-view, .btn-danger {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
  margin-bottom: 5px;
}


.btn-danger{
  background-color: #dc3545;
}
.btn-danger:hover {
  color: white;
  background-color: #c82333;
}

.back-button:hover, .btn-view:hover, button:hover {
  color: #FFD700;
  background-color: #0056b3;
}

.delete-selected {
  padding: 3px 10px;
}

.add-view {
  display: inline-block;
  background-color: #28a745;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 20px;
}

.add-view:hover {
  background-color: #218838;
}

label{
color:#007bff;
font-weight: bold;
}

.player-name {
  font-weight: bold; /* Make player names bold */
}

ul{
  padding-left: 0;
}

.player-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}
